@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+JP:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
* {
  margin: 5px;
  text-align: center;
  background-color: #fcfdf7;
}

header div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
header div img {
  max-height: 30px;
}

nav div {
  display: flex;
  justify-content: space-between;
}
nav div img {
  max-height: 150px;
}

button {
  max-height: 100px;
  min-width: 350px;
  border-radius: 10px;
  font-family: "Noto Sans Japanese";
  font-size: 30px;
  font-weight: bold;
  background-color: #384166;
  color: #fcfdf7;
  border-color: #fcfdf7;
  padding: 20px;
}

.login {
  background-color: #fcfdf7;
  border-color: #384166;
  color: #384166;
  max-height: 80px;
  min-width: 200px;
  border-radius: 7px;
  font-family: "Noto Sans Japanese";
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}

h1 {
  font-family: "Poppins";
  color: #1db8f1;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

h2 {
  font-family: "Roboto";
  font-size: 35px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
  color: #384166;
  font-weight: lighter;
}

h3 {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: lighter;
  padding-bottom: 60px;
  color: #1db8f1;
}

h4 {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: lighter;
  color: #384166;
  padding-bottom: 60px;
  padding-left: 55px;
  padding-right: 55px;
}

h5 {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: lighter;
  padding-top: 100px;
  padding-bottom: 90px;
  color: #384166;
}

@media only screen and (min-width: 768px) {
  * {
    display: none;
  }
}