@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+JP:wght@500&family=Roboto:wght@500&display=swap");
* {
  margin: 5px;
  text-align: center;
  background-color: #fcfdf7;
}

header div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
header div img {
  max-height: 30px;
}

nav div {
  display: flex;
  justify-content: space-between;
}
nav div img {
  max-height: 150px;
}

button {
  max-height: 80px;
  min-width: 200px;
  border-radius: 7px;
  font-family: "Noto Sans Japanese";
  font-size: 30px;
  font-weight: bold;
  background-color: #384166;
  color: #fcfdf7;
  border-color: #fcfdf7;
}

.login {
  background-color: #fcfdf7;
  border-color: #384166;
  color: #384166;
  max-height: 80px;
  min-width: 200px;
  border-radius: 7px;
  font-family: "Noto Sans Japanese";
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #1db8f1;
  font-size: 40px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

@media only screen and (min-width: 768px) {
  * {
    display: none;
  }
}