@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+JP:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

$font-headings:"Poppins";
$font-subheadings: "Roboto";
$font-main: "Monteserrat";
$font-button: "Noto Sans Japanese";



$color-background:#fcfdf7;
$color-primary:#384166;
$color-secondary: #1db8f1;
$color-background-secondary: #fffcdd;




* {
    margin: 5px;
    text-align: center;
    background-color: $color-background;
}


header div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;

    img{
        max-height: 30px;
     
    }
}

nav div {
    display: flex;
    justify-content: space-between;

    img {
        max-height: 150px;
    }
}
    
button {
        max-height: 80px;
        min-width: 200px;
        border-radius: 7px;
        font-family: $font-button;
        font-size: 30px;
        font-weight: bold;
        background-color: $color-primary;
        color: $color-background;
        border-color: $color-background;
}

.login {
        background-color: $color-background;
        border-color: $color-primary ;
        color: $color-primary;
        max-height: 80px;
        min-width: 200px;
        border-radius: 7px;
        font-family: $font-button;
        font-size: 30px;
        font-weight: bold;
        margin-top: 25px;
}

h1 {
    font-family: $font-headings;
    color: $color-secondary;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    
}

h2 {
    font-family: $font-subheadings;
    font-size: 35px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    color: $color-primary;
    font-weight: lighter;
}
h3 {
    font-family: $font-subheadings;
    font-size: 30px;
    font-weight: lighter;
    padding-bottom: 60px;
    color: $color-secondary;
}

h4{

}
@media only screen and (min-width: 768px) {
    
    * {
        display: none;
    }
}